@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "NewProductPackingForm";
    Layout = "~/Views/Shared/Cashier.cshtml";
    DataTable todayStock = new DataTable();
    DataTable product = new DataTable();
    StockBase db = new StockBase();
    int ShopID = Convert.ToInt32(Session["CurrentUserID"]);
}
<div class="contentHeadBox">
    <div class="box-body">
        <font color="#8B7D6B" class="zg"><b>ရက္​လြန္​​​</b> ေန​ေသာ (ပါကင္)​ ပစၥည္​းမ်ားျဖစ္​သည္​။</font><br /><br />
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th style="width: 10px" class="hidecell">No</th>
                    <th> <span class="zg">အမည္​</span></th>
                    <th><span class="zg">လက္​က်န္</span></th>
                    <th><span class="zg">ကုန္​ဆံုးရက္​</span></th>
                    <th><span class="zg">ပံုစံ</span></th>

                </tr>
                @{
                    int i = 1; string packing = "";
                    todayStock = db.getAllByQuery("select * from Product where ShopID=" + ShopID + " and ExpiryDate != null and ExpiryDate <= '" + DateTime.Now.ToString("MM.dd.yyyy") + "' and Packing='True'");
                    foreach (DataRow rows in todayStock.Rows)
                    {
                        if (Convert.ToBoolean(rows["Packing"]) == true)
                        {
                            packing = "ပါကင္";
                        }
                        else
                        {
                            packing = "တစ္​ခုျခင္​း";
                        }

                        <tr>
                            <td class="hidecell">@i</td>
                            <td>
                                <span class="zg"> @rows["Name"] </span>
                            </td>
                            <td><span class="zg"> @rows["Quantity"] </span></td>
                            <td><span class="zg"> @rows["ExpiryDate"] </span></td>
                            <td><span class="zg"> @packing </span></td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
        <br /><br />
        <font color="#8B7D6B" class="zg"><font color="red">*</font><b>Expiry Date </b>မထည္​့ထား​ေသာ ပစၥည္​းမ်ား မျပပါ။</font>

    </div>

</div>