
@{
    Layout = null;
    string Barcode = ViewBag.Barcode;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Your Barcode</title>
</head>
<body>
    <div> 
        <center>
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">

            <br><br>
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">

            <br><br>
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">
            &nbsp&nbsp&nbsp&nbsp
            <img alt="Barcoded value 1234567890" src="http://bwipjs-api.metafloor.com/?bcid=code128&text=@Barcode&includetext">

        </center>
    </div>
</body>
</html>
