@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "ShowBranch";
    Layout = "~/Views/Shared/StockCentral.cshtml";
    StockBase stock = new StockBase();
    int CentralID = Convert.ToInt32(Session["CurrentUserID"]);
    DataTable branch = stock.getAllByQuery("select * from Branch where CentralID=" + CentralID + " and ShopID in(select distinct ShopID from Product where ExpiryDate<='"+DateTime.Now+ "' and ExpiryDate != '1900-01-01 00:00:00.000' and Packing='True')");

}
<div class="table table-responsive">
    <table class="table no-margin">
        <tr><th>Branch</th><th>Packing</th></tr>
        @{
            foreach (DataRow row in branch.Rows)
            {

                //Get Shop Name
                int ShopID = Convert.ToInt32(row["ShopID"]);
                string ShopName = stock.getStringByQuery("select * from Shop where ID=" + ShopID, "Name");
                int Count = stock.getCountByQuery("select * from Product where ExpiryDate<='"+DateTime.Now+ "' and ExpiryDate != '1900-01-01 00:00:00.000' and Packing='True' and ShopID=" + ShopID);
                <tr>
                    <td>
                        <a href="~/StockCentral/ViewExpiryPackingProduct?ShopID=@ShopID" class="hvr-wobble-vertical"><img src="~/Image/open.png" />&nbsp;&nbsp;&nbsp;&nbsp;<b>@ShopName</b></a>
                    </td>
                    <td>
                        <span class="label label-warning">@Count</span>
                    </td>
                </tr>
            }
        }
    </table>
</div>

